page-cart {
	.product-quantity{
		border: 1px solid lightgray;
		text-align: center;
		width: 35px;
		height: 35px;
	}

	.trash-button{
		width: 150px;
	}

	h2{
		font-size: 1.3rem!important;
	}

	p{
		font-size: 1rem!important;
		color: gray!important;
		font-style: italic;
	}

	#common-footer{
		display: none!important;
	}
}
