// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.logo{
	width: 60%;
}

.logo-container{
	text-align: center;
}

.button-cds{
	background-color: #0e4277;
}

ion-label{
	white-space: normal;
}

.icon-badge{
	position: absolute;
    top: 0px;
    margin: 0 0 0 30px;
    font-size: 1rem;
}

ion-footer{
    min-height: 54px;
    background-color: white;
    box-shadow: 0px 10px 50px black;
    z-index: 30;
}

#welcome {            
    background-image: url('../../assets/images/fondoRegistrarse.png');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width:100%; 
    height:100%;            
    }

/* 2 columnas para tablets */
@media (min-width: 700px) {
    #welcome  {
        background-image: url('../../assets/images/fondoRegistrarseTablet.png');
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;         
    }
}

/* 4 columnas para grandes dispositivos*/
@media (min-width: 960px) {
    #welcome  {
        background-image: url('../../assets/images/fondoRegistrarseMonitor.png');
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;           
    }
}


#welcome-bis {
    background-image: url('../../assets/images/fondoRegistrarse.png');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width:100%; 
    height:100%;
}

/* 2 columnas para tablets */
@media (min-width: 700px) {
    #welcome-bis  {
        background-image: url('../../assets/images/fondoRegistrarseTablet.png');
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;         
    }
}

/* 4 columnas para grandes dispositivos*/
@media (min-width: 960px) {
    #welcome-bis  {
        background-image: url('../../assets/images/fondoRegistrarseMonitor.png');
        background-repeat:no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-attachment: fixed;           
    }
}

#registrarText {
    margin-top: 20%;
    margin-bottom: 5%;
}

#contenedorBtn {
    width:100%;   
    height: 9%;
    text-align: center;    
    display: block;
    margin:auto;
}

.btnColor {
    background: #48a0c6; 
    background: -moz-linear-gradient(-45deg, #48a0c6 8%, #2f4272 100%); 
    background: -webkit-linear-gradient(-45deg, #48a0c6 8%,#2f4272 100%); 
    background: linear-gradient(135deg, #48a0c6 8%,#2f4272 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48a0c6', endColorstr='#2f4272',GradientType=1 );
    box-shadow: 0px 5px 10px #454545;
    margin-bottom: 5%;
    width:27rem;
    height: 4rem;
    margin:auto;
}

.btnColor:active {
    width:26rem;
    height: 3.8rem;
    margin: auto;
    line-height: 2;
        
}