<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Acceso Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

	<ion-content padding id="welcome" *ngIf="!isUserLogged">
		<div class="item item-image logo-container">
		    <img src="assets/images/logo.png" class="logo" margin>
		</div>
		<div>Registrese para poder realizar sus pedidos</div>

		<button ion-button block class="marginTop" (click)="signup()">Registrarse</button>
		<button ion-button block color="lightprimary" (click)="login()">Login</button>
	</ion-content>
	<ion-content padding id="welcome-bis" *ngIf="isUserLogged">
		<div class="item item-image logo-container">
		    <img src="assets/images/logo.png" class="logo" margin>
		</div>
		<div>Bienvenido</div> 
		<br/>
		<div>Está logueado como: <strong>{{getUsername()}}</strong></div> 
		<div>Email: <strong>{{getUserEmail()}}</strong></div> 
		<br/>
		<button ion-button block class="marginTop" (click)="logout()">Cerrar sesión</button>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


<ion-footer id="common-footer" *ngIf="showMainFooter">
    <ion-grid>
        <ion-row no-padding no-margin>
            <ion-col no-padding>
                <button ion-button full clear icon-only menuToggle>
                	<ion-icon name="contact"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-6 no-padding *ngIf="isUserLogged">
                <button ion-button full clear icon-only (click)="goToCart()">
				  <ion-icon name="cart"></ion-icon>
				  <ion-badge color="secondary" class="icon-badge">{{getCartProductsCount()}}</ion-badge>
				</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>